{% extends "base.html" %}

{% load static %}
{% block title %} Item page {% endblock %}
{% block style %}
    {{ block.super}}

    <link rel="stylesheet" href="{% static 'style.css' %}"
{% endblock%}

{% block content %}

    {% include "inc_header.html" %}
    <h1> Товар </h1>

    <span style="font-size: large;"><b> {{ item.name }} </b></span><br> 
    Brand: <span style="font-size: large;"> {{ item.brand }} </span><br>
    <div>
        Количество: {{ item.count | default:"Товар отсутствует на складе" }} 
    </div>
    <div>
        Описание: {{ item.description }}<br><br>
    </div>
    <a href="{% url 'items-list' %}"> Назад к списку товаров</a>


{% endblock %}

